@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('Background.jpg');
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border-radius: 25px;
    outline: none;
    background-color: #0000007c;
    color: #ffffff;
    font-size: 16px;
}
button {
    background-color: #0000007c;
    color: #ffffff;
    background-color: #0000007c;
    padding: 10px 5px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    position: relative;
}

.texto-principal {
    font-size: 40px;
    color: #000000;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: center;
    display: flex;
    text-shadow: 3px 1px 4px #ffffff;
}
.caixa-de-pesquisa {
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 15px;
    background-color: #0000007c;
    display: inline-block;
    justify-content: center;
}
.iconessociais {
    display: flex;
    justify-content: center;
    position: relative
}
.iconessociais img {
    Display:inline-block;
    flex: flex;
    justify-content: center;
    align-items: center;
    justify-items: auto;
    position: relative;
}
.iconessociais li {
    list-style: none;
    margin: 0 10px;
}